<div class="container">
  <h2>Se connecter</h2>
  <form (ngSubmit)="connectUser()" #loginform="ngForm" action="" class="d-flex flex-column container">

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input name="email" matInput placeholder="Email"  required>
<!--      <mat-error *ngIf="!email.valid" >Veuiller entrer un email</mat-error>-->
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input name="password" matInput placeholder="Password"  required>
<!--      <mat-error *ngIf="!password.valid" >Veuiller entrer un email</mat-error>-->
    </mat-form-field>

    <button [disabled]="!loginform.valid" class="btn btn-success" type="submit">Soummetre</button>

  </form>
</div>

