<div class="container">
  <h2>Se connecter</h2>
  <form (ngSubmit)="connectUser()" #loginform="ngForm" action="" class="d-flex flex-column container">

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input #email="ngModel" name="email" matInput placeholder="Email" [(ngModel)]="user.email"  required>
     <mat-error *ngIf="!email.valid" >Veuiller entrer un email</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input #password="ngModel" name="password" matInput placeholder="Password" [(ngModel)]="user.password"  required>
     <mat-error *ngIf="!password.valid" >Veuiller entrer un email</mat-error>
    </mat-form-field>

    <div *ngIf="error">
      <p class="text-danger">Invalid credentials</p>
    </div>

    <button id="btn-connect" [disabled]="!loginform.valid" class="btn btn-success" type="submit">Soummetre</button>

  </form>
</div>

